# Para que se ignore la carpeta del entorno virtual
/venv

# Para ignorar todas las carpetas de pychache
__pycache__/

# Para ignorar el archivo de creación de las BDs
# CrearBDs.py
# ActualizarBDs.py

# Para ignorar mis anotaciones sobre Djnago y APIs
VerInfoÚtil.py