[TYPECHECK]
# Ignore unused variable warnings for Django's ForeignKey fields
ignored-argument-names=^django\.db\.models\.ForeignKey$


[FORMAT]
# Para controlar el número de columnas por fila
max-line-length=120


[MESSAGES CONTROL]
# R0903: Para evitar el warning de 'Too few public methods'
# R0911: Para evitar el warning de 'Too many return statements'
# R0913: Para evitar el warning de 'Too many arguments'
disable=R0903, R0911, R0913


[MASTER]
# Para ignorar todos los archivos en los directorios de migrations
ignore=migrations


[REFACTORING]
max-args=5