<!-- templates/includes/_botones_cabecera.html -->


<!-- IMPORTANTE: los estilos de estos botones se incluyen en los estilos base,
ya que afectan a diferentes plantillas -->
<div style="text-align: center;">
    <a href="/mapa/dj30"><button class="boton-indice-cabecera">DJ30</button></a>
    <a href="/mapa/ibex35"><button class="boton-indice-cabecera">IBEX35</button></a>
    <a href="/mapa/ftse100"><button class="boton-indice-cabecera">FTSE100</button></a>
    <a href="/mapa/dax40"><button class="boton-indice-cabecera">DAX40</button></a>
    <!-- <a href="/mapa"><button>Mapa stocks</button></a> -->
</div>