<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="container py-5">

    <!-- News Carousel -->
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for noticias, desc, img, url in listaArticulos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ img }}" alt="" class="img-fluid" style="max-height: 300px;">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ noticias|linebreaks }}</h4>
                        {{ desc|linebreaks }}
                        <br>
                        <a href="{{ url }}" target="_blank">Leer más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div><br><br></div>

    <div id="fila2" class="row align-items-center">
        <div class="col-md-6">
            <!-- Stock Chart Carousels -->
            <div id="stockCarousels" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for stock in stockDataList %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <!-- <h2 class="text-center">{{ stock.symbol }}</h2> -->
                        <div id="stockChart{{ forloop.counter }}" class="img-fluid"></div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#stockCarousels" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#stockCarousels" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Mejores</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresMejores.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Display Three Worst Stocks -->
            <h3>Peores</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresPeores.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

</main>

<!-- Script para el gráfico del stock que haya elegido -->
<script>
    // Stock Chart for each stock
    {% for stock in stockDataList %}
    var stockData{{ forloop.counter }} = {
        x: {{ stock.dates|safe }},
        y: {{ stock.prices|safe }},
        type: 'scatter',
        mode: 'lines',
        name: '{{ stock.symbol }}'
    };

    var layout{{ forloop.counter }} = {
        title: '{{ stock.symbol }}',
        xaxis: {
            title: 'Fecha'
        },
        yaxis: {
            title: 'Precio'
        }
    };

    // Set responsive configuration and plot the chart
    Plotly.newPlot('stockChart{{ forloop.counter }}', [stockData{{ forloop.counter }}], layout{{ forloop.counter }}, {responsive: true});
    {% endfor %}
</script>

{% endblock %}