body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.boton-indice-cabecera {
    background: transparent;
    border: none;
    margin: 20px auto 0;
    color: #212428;
    font-size: 18px;
    font-family: 'Arial', sans-serif; 
    outline: none;
    position: relative;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.boton-indice-cabecera:before {
    content: '';
    border-bottom: 1px solid #fe6461;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
}

.boton-indice-cabecera:hover:before {
    width: 100%;
    padding: 0;
}

.boton-indice-cabecera:active {
    background: #f0e7e7;
    color: #fff;
    transition: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.grid-container a {
    text-align: center;
}

.grid-container img {
    display: block;
    margin: 0 auto;
}

.otros-botones {
    background: transparent;
    border: none;
    color: #212428;
    font-size: 15px;
    font-family: 'Arial', sans-serif; 
    outline: none;
    position: relative;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
}

.otros-botones:before {
    content: '';
    border-bottom: 1px solid #fe6461;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    transition: 0.3s;
}

.otros-botones:hover:before {
    width: 100%;
    padding: 0;
}

.otros-botones:active {
    background: #f0e7e7;
    color: #fff;
    transition: none;
}