#plotly-chart {
    height: calc(100vh - 100px);
    max-height: 800px;
}


.barra {
    background-color: #212428; 
    color: #FFFEFE;
    font-size: 18px;
    font-family: 'Arial', sans-serif; 
    padding-left: 20px;
}

.cabecera {
    background-color: #212428; 
    color: #FFFEFE;
    font-size: 18px;
    font-family: 'Arial', sans-serif; 
    text-align: center;
}
