<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAT: Financial Analysis Tool</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/mapa">Mapa stocks</a>
            </li>

            {% if user.is_authenticated %}
            <!-- Sólo lo muestro si el usuario está registrado -->
            <li>
                <a href="/logout">Logout</a>
            </li>
            {% else %}
            <!-- Sólo lo muestro si el usuario está sin registrar -->
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/signup">Signup</a>
            </li>
            {% endif %}
            

        </ul>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>