<!-- templates/stock_chart.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/estilos_chart_y_datos.css' %}">

<div>
  <br><p class="cabecera">({{ nombre_ticker }})  {{ nombre_completo }}</p>
</div>


<div class="container">
  
  <div class="row">
    <div class="col">
      {% include 'includes/_chart_dinamico.html' %}
    </div>
  </div>

  <div class="row h-100">
    <div class="col">
      {% include 'includes/_tabla_ultimo_mes.html' %}
    </div>
    <div class="col">
      {% include 'includes/_grafos_correlacion.html' %}
    </div>
  </div>

</div>

{% endblock %}