<!-- templates/chart_y_datos.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Estos botones están en las templates de la app News porque es la 
que tiene la página de portada 'home' -->
{% include 'includes/_botones_cabecera.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/estilos_chart_y_datos.css' %}">

<div>
  <br><p class="cabecera">({{ nombre_ticker }})  {{ nombre_completo }}</p>
</div>


<div class="container">
  
  <div class="row">
    <div class="col">
      {% include 'includes/_chart_dinamico.html' %}
    </div>
  </div>

  <div class="row h-100">
    <div class="col">
      {% include 'includes/_tabla_ultimo_mes.html' %}
    </div>
    <div class="col">
      {% include 'includes/_grafos_correlacion.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include 'includes/_evolucion_sector.html' %}
    </div>
    <div class="col">
      {% include 'includes/_grafica_retornos.html' %}
    </div>
    
  </div>

  <div class="row"  style="display: flex; align-items: center">
    <div class="col">
      {% include 'includes/_comparador.html' %}
    </div>
  </div>
  
  <br>
</div>


{% endblock %}