<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .custom-background {
    background-color: #daf1f6;
    /* Mismo color que fondo de la imagen https://imagelr.com/*/
  }

  .btn-custom {
    /* Estilo personalizado para botones*/
    margin-top: 10px;
    width: 150px;
  }
</style>

<main class="container py-5">
  <section class="card card-body text-center custom-background">
    <h1 class="display-3">FAT: Financial Analysis Tool</h1>
    <img src="{% static 'image01_readme.jpg'%}" alt="" width="500" class="mx-auto">

    <div class="container">
      {% if user.is_authenticated %}
      <!-- Sólo lo muestro si el usuario está registrado -->
      <a class="btn btn-dark btn-custom" href="/logout/">Logout</a>
      {% else %}
      <!-- Sólo lo muestro si el usuario está sin registrar -->
      <a class="btn btn-secondary btn-custom" href="/login/">Login</a>
      <a class="btn btn-dark btn-custom" href="/signup/">Registro</a>
      {% endif %}
    </div>
  </section>
</main>

{% endblock %}