<!-- templates/mapa_stocks.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Estos botones están en las templates de la app News porque es la 
que tiene la página de portada 'home' -->
{% include 'includes/_botones_cabecera.html' %}

<!-- Mis estilos -->
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos_mapa_stocks.css' %}">

<div>
  <br><p class="cabecera">Índice {{ nombreIndice }}</p>
</div>

<!-- Hago una caja para no pisar los estilos del 'container' del footer -->
<div id="caja" class="container">
  
  {% include 'includes/_tabla_indices_mapa_stocks.html' %}

  <div style="padding-left: 20px">
    {% include 'includes/_figura_evolucion_indice_mapa_stocks.html' %}
    <br>
    {% include 'includes/_noticias_relacionadas_mapa_stocks.html' %}
  </div>
  
</div>

<!-- Script JavaScript para ordenar tablas.
     
    Fuente 1: https://www.w3schools.com/howto/howto_js_sort_table.asp con modificaciones para
     negativos/positivos en 'percent_variance'
     
     Fuente 2: https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript -->
<script>
    // 1 ascendente y -1 descendente
    var orden = 1; 

    function sortTable(idx_columna, dataType) {
        var tabla, filas, flagDeCambio, i, x, y, debeCambiar;
        tabla = document.getElementById("tablaStocks");
        flagDeCambio = true;

        var arrow = document.getElementsByClassName("flecha")[idx_columna - 3];
        actualizarFlechas();
        // Para seleccionar la flecha que aparece (arriba o abajo)
        arrow.innerHTML = orden === 1 ? "&#9650;" : "&#9660;"; 

        while (flagDeCambio) {
        flagDeCambio = false;
        filas = tabla.rows;

        for (i = 1; i < filas.length - 1; i++) {
            debeCambiar = false;
            x = filas[i].getElementsByTagName("td")[idx_columna];
            y = filas[i + 1].getElementsByTagName("td")[idx_columna];

            var xValue = parsearColumnas(x.innerHTML, dataType);
            var yValue = parsearColumnas(y.innerHTML, dataType);

            if (orden === 1 ? xValue > yValue : xValue < yValue) {
            debeCambiar = true;
            break;
            }
        }

        if (debeCambiar) {
            filas[i].parentNode.insertBefore(filas[i + 1], filas[i]);
            flagDeCambio = true;
        }
        }
        
        // Cambiar el orden
        orden = -orden; 
    }

    function parsearColumnas(valor, dataType) {
        if (dataType === "percent_variance") {
            // Parsear un float y considerar positivos/negativos
            return parseFloat(valor.replace("%", ""));
        } else {
            return parseFloat(valor);
        }
    }

    function actualizarFlechas() {
        var flechas = document.getElementsByClassName("flecha");
        for (var i = 0; i < flechas.length; i++) {
        flechas[i].innerHTML = "";
        }
    }
</script>

{% endblock %}
