<!-- templates/stock_data.html -->
{% extends 'base.html' %}

{% block content %}

<h1>{{ nombre_ticker }}</h1>
<table>
    <tr>
        <th>Fecha</th>
        <th>Apertura</th>
        <th>Máximo</th>
        <th>Mínimo</th>
        <th>Cierre</th>
        <th>Volumen</th>
        <th>Nombre</th>
    </tr>
    {% for data in ticker_data %}
        <tr>
            <td>{{ data.Date }}</td>
            <td>{{ data.Open }}</td>
            <td>{{ data.High }}</td>
            <td>{{ data.Low }}</td>
            <td>{{ data.Close }}</td>
            <td>{{ data.Volume }}</td>
            <td>{{ data.Name }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
