<!-- templates/dashboard/nueva_compra.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Incluyo mis estilos -->
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos_modificar_cartera.css' %}">
<!-- Para la caja de búsqueda con sugerencias y el calendario (datepicker)-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!-- Para el DatePicker -->
<link rel="stylesheet" href="/resources/demos/style.css">


<div>
    <br><p class="cabecera">Añadir un nuevo stock a la cartera</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">

            <form method="POST" class="card card-body">
                <h3 class="text-center">Nueva compra</h1>
                <!-- Sólo se muestran los mensajes de error en caso de que existan -->
                <p style="color: red;">{{ msg_error }}</p>
                <p style="color: red;">{{ msg_error_2 }}</p>

                <!-- Además, si se da el error 2, ayudo al usuario indicando los precios
                mínimo y máximo en la fecha que haya indicado previamente -->
                {% if msg_error_2 %}
                    <p style="color: red;">En la fecha indicada | mín.  {{ min|floatformat:2 }} | máx.  {{ max|floatformat:2 }} |</p>
                    <br>
                {% endif %}

                {% csrf_token %}
                
                <!-- El ticker no va en el formulario porque así puedo
                usar un cuadro de búsqueda autocompletable.
                Además, añado un input oculto para que se reconozca bien el 
                ticker al recoger el dato con POST.get() -->
                <input type="hidden" id="ticker" name="ticker" value="">
                <div class="ui-widget">
                    <label for="ticker"></label>
                    <input id="ticker_autocomplete" class="form-control" placeholder="Buscador de tickers">
                </div>
                
                <!-- Fecha compra con calendario -->
                <div class="ui-widget form-group">
                    <label for="fecha_compra"></label>
                    <input type="text" id="fecha_compra" name="fecha_compra" class="form-control" value="" placeholder="Fecha de compra">
                </div>

                <!-- En este formulario, realmente, sólo van 'num_acciones' y
                'precio_compra'. Pero así puedo adaptar y mejorar el resto de
                campos de entrada -->                
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-dark" style="width: 80%; text-align: center; margin: auto;">Guardar</button>
            </form>
        </div>
    </div>
</div>

<!-- Para la caja de búsqueda con sugerencias y el calendario -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<style>
  /* Límite para el cuadro de búsqueda de tickers */
  .ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
  }
</style>
<script>
    // Cuadro de búsqueda de tickers
    $( function() {
        var tickersDisponibles = {{ listaTickers|safe }};
        $("#ticker_autocomplete").autocomplete({
            source: tickersDisponibles,
            select: function (event, ui) {
                // Valores del input visible
                $("#ticker_autocomplete").val(ui.item.value);
                
                // Valores del input oculto
                $("#ticker").val(ui.item.value);
                
                return false;
            }
        });
    } );

    // https://api.jqueryui.com/datepicker/#option-dateFormat
    $( function() {
        $( "#fecha_compra" ).datepicker({
            dateFormat: 'dd/mm/yy',
            dayNamesMin: [ "Do" , "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
            // Para que empiece en lunes
            firstDay: 1,  
            maxDate: "+0d",
            monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
        });
    } );
</script>


{% endblock %}

