<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="container py-5">

    <!-- Carrusel de noticias -->
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for noticias, desc, img, url in listaArticulos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ img }}" alt="" class="img-fluid" style="max-height: 300px;">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ noticias|linebreaks }}</h4>
                        {{ desc|linebreaks }}
                        <br>
                        <a href="{{ url }}" target="_blank">Leer más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <div><br><br></div>

    <!-- Datos DJ30 -->
    <div id="fila2" class="row align-items-center">
        <div class="col-md-6">
            <!-- Carrusel de stockChart -->
            <div id="stockCarousels" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for figure_html in figuras_dj30 %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {{ figure_html|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Los 3 mejores stocks -->
            <h3>Mejores DJ30</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresMejores_dj30.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <!-- Los 3 perores stocks -->
            <h3>Peores DJ30</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresPeores_dj30.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

    <div><br><br></div>

    <!-- Datos IBEX35 -->
    <div id="fila3" class="row align-items-center">
        <div class="col-md-6">
            <!-- Los 3 mejores stocks -->
            <h3>Mejores IBEX35</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresMejores_ibex35.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Los 3 perores stocks -->
            <h3>Peores IBEX35</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresPeores_ibex35.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col-md-6">
            <!-- Carrusel de stockChart -->
            <div id="stockCarousels" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for figure_html in figuras_ibex35 %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {{ figure_html|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    
    <div><br><br></div>

    <!-- Datos FTSE100 -->
    <div id="fila2" class="row align-items-center">
        <div class="col-md-6">
            <!-- Carrusel de stockChart -->
            <div id="stockCarousels" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for figure_html in figuras_ftse100 %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {{ figure_html|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Los 3 mejores stocks -->
            <h3>Mejores FTSE100</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresMejores_ftse100.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <!-- Los 3 perores stocks -->
            <h3>Peores FTSE100</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Variación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tresPeores_ftse100.iterrows %}
                            <tr>
                                <td>{{ row.ticker }}</td>
                                <td style="color: {% if row.variacion >= 0 %}green{% else %}red{% endif %}">
                                    {{ row.variacion|floatformat:"2" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

</main>

{% endblock %}

